# Environment variables and secrets
.env
.env.*
!.env.example

# Dependency
/node_modules

# Build output
dist/
build/
coverage/

# Logs
*.log
npm-debug.log*

* macOS
.DS_Store

# Database backups
*.dump
*.backup
*.sql.gz
